fastapi
uvicorn
gradio
requests
python-dotenv
pydantic

anthropic
langfuse
openinference-instrumentation-llama-index

langgraph
langgraph-checkpoint-redis
langchain
langchain-core
langchain-community
redis

llama-index
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-readers-file

qdrant-client

sentence-transformers
transformers
torch
pypdf